/*Universal CSS classes*/
.box {
	height: 220px;
}


/* crystal cavern background */

body {
	background: url('http://www.littlewaterstudio.com/images/gallery/kristallblau_concept4.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* text style */

p {
	color: rgb(255, 255, 255);
	text-align: center;
	font-family: 'Vollkorn SC', serif;
	font-size: 18px;
}

/* box to the left */

.box1 {
	position: absolute;
	width: 260px;
	height: 725px;
	margin-top: -210px;
	padding-top: 20px;
	background: rgba(150, 156, 150, 0.6); /* gray background with 60% opacity */
	display: block;
}


/* wins losses box */

.box2 {
	width: 260px;
	height: 200px;
	margin-top: -430px;
	padding-top: 20px;
	margin-left: 30px;
	background: rgba(150, 156, 150, 0.6); /* gray background with 60% opacity */
	display: block;
}


/* click text for number box */

.box3 {
	width: 260px;
	height: 220px;
	margin-top: -200px;
	padding-top: 20px;
	margin-left: 30px;
	background: rgba(150, 156, 150, 0.6); /* gray background with 60% opacity */
	display: block;
	cursor: pointer;
}


/* total score box */

.box4 {
	width: 260px;
	height: 245px;
	margin-top: 30px;
	padding-top: 20px;
	margin-left: 30px;
	background: rgba(150, 156, 150, 0.6); /* gray background with 60% opacity */
	display: block;
}


/* so everything looks aesthetically pleasing */
.diamond {
	margin-top: -40px;
}

.gemImage {
	cursor: pointer;
}